.header{
    margin-bottom:3%;
    padding: 2%;
    background-image: url("/assets/img/greener.jpg");
}
body{
    background-image: url("/assets/img/bgWeltb.jpg");
    background-repeat: no-repeat;
    max-width: 100%;
    color:white;
}
.titel {
    border-radius: 5px;
    background-color: darkgreen;
    color: chartreuse;
    border: 3px;
    border-color: black;
}

.row{
    border-radius: 10px;
    background-image: url("/assets/img/greener.jpg");
    color:white;
}
.frage{
    padding: 20px;
    border-radius: 5px;
    background-image: url("/assets/img/greener.jpg");
    color:white;
}
.fragen{
    padding: 3px;
    border-radius: 5px;
    background-color: rgb(5, 99, 44);
    color:white;
}
.category {
    border-radius: 5px;
    margin-bottom: 5px;
    padding: 8px;
    background-color: rgb(5, 99, 44);
    color:white;
}
.question{
    border-radius: 5px;
    margin-bottom: 5px;
    padding: 8px;
    background-color: rgb(5, 99, 44);
    color:white;
}
.thema{
    padding: 8px;
    border-radius: 5px;
    margin-bottom: 5px;
    background-color: rgb(5, 99, 44);
}
.form-select {
    margin-bottom: 5px;
}
.anzahl{
    border-radius: 5px;
    margin-bottom: 5px;
    padding: 8px;
    background-color: rgb(5, 99, 44);
    color:white;
}
.startB {
    border-radius: 5px;
    margin-bottom: 5px;
    background-color: rgb(5, 99, 44);
    color:white;
}

.next {
    border-radius: 5px;
    /*position:fixed;bottom:18%;
    position:fixed;left:300px;
    background-color: rgb(5, 99, 44);*/
    width: 100px;
    height:100px;
}

.footer {
    padding: 2%;
    background-image: url("/assets/img/greener.jpg");
    max-width: 100%;
}
