.header{
    padding: 1%;
    background-image: url("/assets/img/glueck.jpg");
}
body{
    background-image: url("/assets/img/bgWelt.jpg");
    background-size: 100vw;
    
    color:white;
}
.titelbox{
    padding: auto;
    border-radius: 25%;
    background-image: url("/assets/img/test2.jpg");
}

.frage{
    padding: auto;
    border-radius: 30%;
    background-image: url("/assets/img/glueck.jpg");
    color:white;
}
.buton{
    border-radius: 25%;
    background-image: url("/assets/img/grüngrün.jpg");
    color:white;
}
.footer {
    background-image: url("/assets/img/glueck.jpg");
}
