.header{
    padding: 1%;
    background-image: url("/assets/img/glück.jpg");
}
body{
    background-image: url("/assets/img/test2.jpg");
}
.titelbox {
    padding: auto;
    border-radius: 30%;
    background-image: url("/assets/img/test2.jpg");
}
.titel{
    padding: 5%;
    border-radius: 25%;
    background-image: url("/assets/img/grüngrün.jpg");
}
.frage{
    padding: auto;
    border-radius: 25%;
    background-image: url("/assets/img/grüngrün.jpg");
    color:white;
}
.buton{
    border-radius: 25%;
    background-image: url("/assets/img/grüngrün.jpg");
    color:white;
}
.footer {
    background-image: url("/assets/img/glück.jpg");
}
.footer2 {
    background-image: url("/assets/img/glück.jpg");
}